
ul#clock li{
    border: none;
}

#clock {
    position: relative;
    width: 185px;
    height: 185px;
    margin: -95px auto 0;
    background: url(../images/clockface.png) no-repeat center;
    list-style: none;
}
#clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

#sec, #min, #hour {
    position: absolute;
    width: 15px;
    height: 185px;
    top: 0px;
    left: 85px;
}

#sec {
    background: url(../images/sechand.png);
    z-index: 3;
    overflow: hidden;
}

#min {
    background: url(../images/minhand.png);
    z-index: 2;
}

#hour {
    background: url(../images/hourhand.png);
    z-index: 1;
}

